<div class="os-eoc os-chapter-review-container" data-type="composite-chapter" data-uuid-key=".chapter-review">
  <h2 data-type="document-title">
    <span class="os-text"><%= I18n.t(:eoc_chapter_review) %></span>
  </h2>
  <div data-type="metadata" style="display: none;">
    <h1 data-type="document-title" itemprop="name"><%= I18n.t(:eoc_chapter_review) %></h1>
    <%= @metadata %>
  </div>
</div>
