<div class="os-eob os-solutions-container" data-type="composite-chapter" data-uuid-key=".solutions">
  <h1 data-type="document-title">
    <span class="os-text"><%= I18n.t(:eoc_answer_key_title) %></span>
  </h1>
  <div data-type="metadata" style="display: none;">
    <h1 data-type="document-title" itemprop="name"><%= I18n.t(:eoc_answer_key_title) %></h1>
    <%= @metadata.paste %>
  </div>
</div>
